.page-content{
    display: inline-block;
    align-items: center;
}
html, body {
    margin: 0;
    padding: 0;
  }  

.front-content {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #FAF8F6;
    box-sizing: border-box;
    margin:  0;
    padding: 0;
}
#frontimage{
    position: absolute;
    width: 35%;
    height: 50%; 
    left: 0%;
    bottom: 0%;
    background-size: contain;
    z-index: 100;

}
#front-text {
    position: relative;
    font-size: 800%;
    margin-left: 75%;
    color: #92794f;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 150;

}
.about-content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 125vh;
    background: #ffffff;
    box-sizing: border-box;
    overflow: hidden;
    margin:  0, 0, 0, 0;
    padding: 0, 0, 0, 0;
}
#about-text {
    display: flex;
    position: absolute;
    width: 60%;
    height: 100%;
    font-size: 500%;
    margin-left: 35%;
    color: #92794f;
    font-family:
}
#terminal-display {
    position: relative;
    width: 35%;
    height: 70%;
    margin-left: 10%;
    margin-bottom: 10%;
    margin-top: 25%;
    background-color: black;
    border-radius: 3%;
    border-color: black;
}
#title-bar {
    width: 100%;
    height: 3%;
    background-color: gray;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;

}
